.form {
  background-color: $background-form;
  min-height: 840px;

  @media (max-width: $vp-1023) {
    min-height: 580px;
  }

  @media (max-width: $vp-767) {
    min-height: 750px;
  }
}

.form__wrapper {
  background: linear-gradient(135deg, rgba(4, 24, 39, 0.5) 0% 50%, $background-form 50% 100%);
  padding: 7% 18% 5%;
  min-height: 840px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 115px;

  @media (max-width: $vp-1023) {
    display: block;
    padding: 8% 7% 10%;
    min-height: 580px;
    background: none;
  }

  @media (max-width: $vp-767) {
    min-height: 750px;
  }
}

.form__wrapper img {
  display: block;
  margin-top: 100px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.form__modal-auth h2 {
  @include title-roboto;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;

  @media (max-width: $vp-767) {
    font-size: 30px;
    line-height: 42px;
  }
}

.form__modal-auth p {
  margin: 20px 0 35px;
}

.form__modal-auth span {
  @include text-mono;
  color: #ffffff;
  margin-bottom: 35px;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 18px;
  }
}

.form__modal-auth form {
  min-width: 580px;
  margin-top: 25px;

  @media (max-width: $vp-1023) {
    min-width: 670px;
  }

  @media (max-width: $vp-767) {
    min-width: 270px;
  }
}

.form__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.form__inner p {
  margin: 0;

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
  }
}

.form__inner input {
  width: 100%;
  border: none;
  padding: 25px 15px;
  background-color: #008bc6;
}

.form__inner input::placeholder {
  @include text-mono;
  color: #ffffff;
}

.form__modal-auth textarea {
  width: 100%;
  resize: vertical;
  background-color: #008bc6;
  border: none;
  padding: 25px 15px;
}

.form__modal-auth textarea::placeholder {
  @include text-mono;
  color: #ffffff;
}

.form__consent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.form__consent p {
  margin: 0;
  padding-top: 0;
  padding-left: 30px;
}

.form__consent a {
  font-family: $ff-roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #041427;
  color: #ffffff;
  padding: 15px 25px;
  min-width: 265px;
  text-align: center;

  @media (max-width: $vp-767) {
    display: block;
    min-width: 270px;
    margin-bottom: 25px;
  }
}

.form__consent label {
  position: relative;
}

.form__consent span {
  @include text-mono;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 0;
  padding-top: 15px;

  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: -30px;
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
    border-radius: 2px;
  }
}

.form__consent input[type="checkbox"]:checked + span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  top: 23px;
  left: -28px;
  background: url("../../img/check.svg") no-repeat;
}
