.form {
  background: linear-gradient(139deg, rgba(#041827, 0.5) 0% 33.6%, #00b3ff 33.6% 100%);
  min-height: 840px;

  @media (max-width: $vp-1023) {
    min-height: 580px;
    background: none;
  }

  @media (max-width: $vp-767) {
    min-height: 750px;
  }
}

.form__wrapper {
  padding-top: 7%;
  padding-bottom: 5%;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 840px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @media (max-width: $vp-1023) {
    display: block;
    padding: 2.3% 6.5% 10%;
    min-height: 580px;
    background: none;
  }

  @media (max-width: $vp-767) {
    min-height: 750px;
    padding: 2.3% 7.5% 10%;
  }
}

.form__wrapper-image {
  display: block;
  margin-top: 19.4%;
  margin-right: 80px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.form__modal-auth h2 {
  @include title-roboto;
  color: #ffffff;
  margin: 30px 0 12px -5px;

  @media (max-width: $vp-1023) {
    margin-bottom: 6px;
    margin-left: 0;
  }

  @media (max-width: $vp-767) {
    font-size: 30px;
    line-height: 42px;
    margin: 38px 0 2px;
  }
}

.form__modal-auth div {
  margin: 20px 0 17px;
}

.form__modal-auth span {
  @include text-mono;
  color: #ffffff;
  margin-bottom: 35px;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 18px;
  }
}

.form__modal-auth form {
  margin-top: 32px;

  @media (max-width: $vp-1023) {
    min-width: 670px;
    margin-top: 23px;
  }

  @media (max-width: $vp-767) {
    min-width: 270px;
    margin-top: 30px;
  }
}

.form__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.form__inner div {
  margin: 0;

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
  }
}

.form__inner input {
  width: 100%;
  border: none;
  padding: 18px 15px;
  background-color: #008bc6;

  @media (max-width: $vp-1023) {
    padding: 16px;
  }
}

.form__inner input::placeholder {
  @include text-mono;
  color: #ffffff;
}


.form__custom-input {
  position: relative;

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }
}

.form__custom-input .input-message {
  position: absolute;
  left: 0;
  bottom: -51px;
  font-size: 15px;
  line-height: 14.6px;
  width: 400px;

  &.is-invalid {
    color: #ff0000;
  }

  &.is-valid {
    color: #15ab07;
  }
}


.form__modal-auth textarea {
  width: 100%;
  overflow: auto;
  resize: none;
  background-color: #008bc6;
  border: none;
  padding: 22px 15px 40px;

  @media (max-width: $vp-1023) {
    padding: 30px 15px;
  }

  @media (max-width: $vp-767) {
    padding: 22px 15px 65px;
  }
}

.form__modal-auth textarea::placeholder {
  @include text-mono;
  color: #ffffff;
}

.form__consent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 49px;
  padding-top: 9px;

  @media (max-width: $vp-1023) {
    padding-top: 11px;
    gap: 29px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
  }
}

.form__consent div {
  margin: 0;
  padding-top: 0;
  max-width: 580px;

  @media (max-width: $vp-767) {
    padding-left: 4px;
  }
}

.form__consent button {
  font-family: $ff-roboto;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #041427;
  color: #ffffff;
  padding: 15px 25px;
  min-width: 265px;
  text-align: center;
  border: none;
  order: -1;
  cursor: pointer;

  @media (max-width: $vp-1023) {
    width: 265px;
  }

  @media (max-width: $vp-767) {
    display: block;
    min-width: 270px;
    margin-bottom: 9px;
  }
}

.form__consent button:hover {
  opacity: 0.8;
}

.form__consent button:active {
  opacity: 0.6;
}

.form__consent label {
  position: relative;
  display: flex;
  align-items: center;
}

.form__consent input[type="checkbox"] {
  display: block;
  position: relative;
  width: 17px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  appearance: none;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.form__consent input[type="checkbox"]:checked::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 3px;
  display: block;
  width: 7px;
  height: 5px;
  border: 1px solid #ffffff;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  cursor: pointer;
}

.form__consent span {
  @include text-mono;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 0;
  padding-top: 15px;
  cursor: pointer;

  @media (max-width: $vp-1023) {
    padding-top: 11px;
  }
}

.form__inner input:hover {
  background-color: #086285;
}
