.main-nav {
  min-height: 120px;
  padding-left: 13.2%;

  @media (min-width: $vp-1024) {
    //min-width: 674px;
  }

  @media (max-width: $vp-1023) {
    min-height: 100px;
    padding-top: 10px;
  }

  @media (max-width: $vp-767) {
    min-height: 70px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.main-nav__button-link {
  display: block;
  color: $color-text;
  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16.5px;
  letter-spacing: 0.7px;
  font-weight: 700;
  padding: 10px 15px;
  text-transform: uppercase;
  min-width: 160px;
  border: 1px solid $color-text;
  border-radius: 3px;
}

.main-nav__button-link:hover {
  color: $background-blue;
  border-color: $background-blue;
}

.main-nav__button-link:active {
  color: $background-blue;
  border-color: $background-blue;
  opacity: 0.6;
}

.main-nav__button {
  margin: 0;
  margin-left: 98%;
  margin-top: -28px;

  // @media (max-width: $vp-1440) {
  //   margin-left: 76%;
  // }

  @media (max-width: $vp-1023) {
    display: none;
  }
}
