.main-nav {
  min-height: 120px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 4.1%;
  margin-top: -7px;
  padding: 2% 0 4vh;

  @media (max-width: $vp-1023) {
    min-height: 100px;
    justify-content: flex-end;
    padding-top: 4%;
  }

  @media (max-width: $vp-767) {
    min-height: 70px;
    padding: 2vh 0 2vh;
  }
}

.main-nav__list {
  align-self: center;
}

.main-nav__button-link {
  display: block;
  color: $color-text;
  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16.5px;
  letter-spacing: 0.7px;
  font-weight: 700;
  padding: 10px 15px;
  text-transform: uppercase;
  max-width: 160px;
  border: 1px solid $color-text;
  border-radius: 3px;
  margin-left: 38px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.main-nav__button-link:hover {
  color: $background-blue;
  border-color: $background-blue;
}

.main-nav__button-link:active {
  color: $background-blue;
  border-color: $background-blue;
  opacity: 0.6;
}
