.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 610px;
    padding: 40px;

    background-color: $background-form;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__close-btn svg {
  fill: #ffffff;
  margin-top: 33px;
}

.modal__content h2 {
  @include title-roboto;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
}

.modal__content div {
  margin: 20px 0 35px;
}

.modal__content span {
  @include text-mono;
  color: #ffffff;
  margin-bottom: 35px;
}

.modal__content form {
  min-width: 405px;
  margin-top: 25px;
}

.modal__content input {
  width: 100%;
  border: none;
  padding: 25px 15px;
  background-color: #008bc6;
}

.modal__content input::placeholder {
  @include text-mono;
  color: #ffffff;
}

.modal__content textarea {
  width: 100%;
  resize: vertical;
  background-color: #008bc6;
  border: none;
  padding: 25px 15px;
}

.modal__content textarea::placeholder {
  @include text-mono;
  color: #ffffff;
}

.modal__consent div {
  margin: 0;
  padding-top: 0;
  padding-left: 30px;
}

.modal__consent button {
  font-family: $ff-roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #041427;
  color: #ffffff;
  padding: 15px 25px;
  width: 100%;
  text-align: center;
  border: none;
  margin-bottom: 20px;
}

.modal__consent button:hover {
  opacity: 0.8;
}

.modal__consent button:active {
  opacity: 0.7;
}

.modal__consent label {
  position: relative;
}

.modal__consent span {
  @include text-mono;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 0;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
    border-radius: 2px;
  }

  br {
    display: none;
  }
}

.modal__consent input[type="checkbox"]:checked + span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 6px;
  top: 4px;
  left: -22px;
  background: url("../../img/check.svg") no-repeat;
}
