.product-card {
  background-color: $color-footer;
  padding: 3.4% 18.2% 5%;
  min-height: 960px;

  @media (max-width: $vp-1023) {
    padding: 7.5% 6.5% 5%;
    min-height: 1080px;
  }

  @media (max-width: $vp-767) {
    padding: 8%;
    min-height: 1050px;
  }
}

.product-card h1 {
  @include title-roboto;
  color: #ffffff;
  margin: 0;
  margin-bottom: 4.5%;

  @media (max-width: $vp-1023) {
    margin-bottom: 5.5%;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.product-card h2 {
  display: none;

  @media (max-width: $vp-767) {
    @include title-roboto;
    display: block;
    color: #ffffff;
    margin: 20px 0 28px;
    font-size: 28px;
    line-height: 40px;
    padding-right: 12%;
  }
}

.product-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  @media (max-width: $vp-1023) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.product-card li {
  position: relative;
  padding: 14% 40% 0 12%;

  @media (max-width: $vp-1023) {
    min-height: 250px;
    padding: 6% 70.6% 0 7%;
  }

  @media (max-width: $vp-767) {
    padding: 9% 39% 0 11%;
  }
}

.product-card img {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  top: 0;
  left: 0;
  min-height: 650px;

  @media (max-width: $vp-1023) {
    width: 100%;
    height: 100%;
    min-height: 250px;
  }
}

.product-card h3 {
  @include title-roboto;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  z-index: 2;

  @media (max-width: $vp-767) {
    font-size: 18px;
  }
}

.product-card span {
  position: absolute;
  display: block;
  z-index: 2;
  top: 590px;
  right: 1px;
  width: 60px;
  height: 60px;
  background-color: $background-blue;

  @media (max-width: $vp-1023) {
    top: 191px;
    right: -2px;
  }

  @media (max-width: $vp-767) {
    width: 40px;
    height: 40px;
    top: 210px;
  }
}

.product-card svg {
  margin-left: 26px;
  margin-top: 26px;

  @media (max-width: $vp-1023) {
    margin-left: 26px;
    margin-top: 27px;
  }

  @media (max-width: $vp-767) {
    margin-left: 16px;
    margin-top: 17px;
  }
}

.product-card span:hover {
  background-color: #0b9ede;
}

.product-card span:active {
  background-color: #0b9ede;
  opacity: 0.6;
}
