.user-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6vw;

  @media (max-width: $vp-1023) {
    padding-top: 0;
    margin-right: -13px;
    gap: 21px;
  }

  @media (max-width: $vp-767) {
    padding-top: 12px;
  }
}

.user-list__login {
  @include text-mono;
  line-height: 18px;
  display: block;
  color: $color-text;
  max-width: 225px;

  @media (min-width: $vp-1024) {
    display: flex;
    align-items: center;
  }

  @media (max-width: $vp-1023) {
    min-width: 40px;
    padding-right: 30px;
  }
}

.user-list__login:last-child {
  padding-right: 0;
}

.user-list__text {
  padding-left: 18px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.user-list__login-icon {
  fill: $background-blue;
}

.user-list__login:hover .user-list__login-icon,
.user-list__login:hover .user-list__text {
  fill: #0c86bb;
  color: #0c86bb;
}

.user-list__login:active .user-list__login-icon,
.user-list__login:active .user-list__text {
  fill: #0c86bb;
  color: #0c86bb;
  opacity: 0.6;
}
