.user-list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  padding-top: 39px;
  gap: 28px;
}

.user-list__login {
  @include text-mono;
  line-height: 18px;
  display: block;
  color: $color-text;
  padding-right: 30px;

  @media (max-width: $vp-1023) {
    min-width: 40px;
  }
}

.user-list__login:last-child {
  padding-right: 0;
}

.user-list__text {
  padding-left: 7px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.user-list__login-icon {
  fill: $background-blue;
}

.user-list__login:hover .user-list__login-icon,
.user-list__login:hover .user-list__text {
  fill: #0c86bb;
  color: #0c86bb;
}

.user-list__login:active .user-list__login-icon,
.user-list__login:active .user-list__text {
  fill: #0c86bb;
  color: #0c86bb;
  opacity: 0.6;
}
